@media (min-width: 500px) {
    body::before {
        content: "big screen"
    }
    body {
        color: red
    }
    }

@media (max-width: 499px) {
    body::before {
        content: "small screen"
    }
    body {
        color: green
    }
}

.something {
    background-color: beige;
    color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
}
.something > div {
    background-color: darkgoldenrod;
    font-size: 30px;
    margin: 20px;
    padding: 20px;

}